<%- include('partials/header'); -%>

<div class="container bg-light">

    <form action="/posts/<%= post._id %>/?_method=PUT" method="POST" class="border border-light my-3 p-2">
        <p class="display-3">Edit your post</p>
        <div class="form-group my-3">
            <input type="text" class="form-control" name="title" value="<%= post.title %>">
        </div>
        <div class="form-group my-3">
            <input type="text" class="form-control" name="text" value="<%= post.text %>">
        </div>
        <button type="submit" class="btn btn-dark">Done</button>
    </form>

</div>

<%- include('partials/footer'); -%>