<%- include('../partials/header'); -%>

<div class="container">

    <h1 class="display-1 text-center my-3">Problemset</h1>

    <a href="/queue" class="btn btn-dark">View Queue</a>

    <% for(const problem of problems) { %>
        <div>
            <div class="card my-2 rounded">
                <div class="card-body">
                    <span class="float-right">Solved by 12 users.</span>
                    <h5 class="card-title"> <%= problem.name %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= problem.author %> </h6>
                    <a href="/problemset/<%=problem.name%>" class="btn btn-dark card-link">Show problem</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<%- include('../partials/footer'); -%>