<%- include('../partials/header'); -%>

<div class="container">

    <h1 class="text-center problemName my-4"><%= problem.name %></h1>
    
    <div class="row">

    <div class="col-lg-8 order-2 order-lg-1">
    
        <div id="content">
            <%- problem.content -%>
        </div>

    </div>

    <div class="col-lg-4 order-1 order-lg-2">

        <div class="card my-2">
            
            <div class="card-body">
                <h5 class="card-title">Problem <%= problem.name%> </h5>
                <h6 class="card-subtitle mb-2 text-muted">By <%= problem.author %> </h6>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Time limit: <%= problem.timeLimit%> s</li>
                <li class="list-group-item">Memory limit: <%= problem.memoryLimit%> mb</li>
            </ul>

        </div>

        <% if(submissions && submissions.length > 0) { %>
        <!-- <h4 class="text-center mb-2">Last submissions</h4> -->
        <table class="table my-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Submitted</th>
                    <th scope="col">Verdict</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(const submission of submissions) { %>
                    <tr>
                        
                        <td>
                            <%= submission.created.toLocaleDateString() %>
                            <% let diff = new Date() - submission.created; %>
                            <% let milliseconds=0, seconds=0, minutes=0, hours=0, days=0; %>
                            <% diff=(diff-(milliseconds=diff%1000))/1000; %>
                            <% diff=(diff-(seconds=diff%60))/60; %>
                            <% diff=(diff-(minutes=diff%60))/60; %>
                            <% days=(diff-(hours=diff%24))/24; %>
                            <% if(hours < 1) { %>
                            <br>
                            <% if(minutes === 0) { %>
                            right now
                            <% } else if(minutes > 1) { %>
                            <%= minutes %> mins ago
                            <% } else { %>
                            1 min ago
                            <% } %>
                            <% } %>
                        </td>

                        <% if(!submission.judged) { %>
                            <td> Waiting for judge... </td>
                        <% } else { %>
                            <% if(submission.verdict === "Accepted") { %>
                                <td style="color:green"> <%= submission.verdict %> </td>
                            <% } else if(submission.verdict === "Compilation Error") { %>
                                <td style="color:orange"> <%= submission.verdict %> </td>
                            <% } else { %>
                                <td style="color:red"> <%= submission.verdict %> </td>
                            <% } %>
                        <% } %>
                        
                        <td>
                            <a href="/problemset/submissions/<%= submission._id %>">View submission</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
        
        <% if(user && isLoggedIn) { %>
            <a href="/problemset/<%= problem.name %>/allSubm" class="btn btn-dark my-1 mx-auto" style="width: 100%;" data-tilt data-tilt-max="0" data-tilt-scale="1.05">View all submissions</a>
            <a href="/problemset/submissions" class="btn btn-dark my-1 mx-auto" style="width: 100%;" data-tilt data-tilt-max="0"
                data-tilt-scale="1.05">View queue</a>
        <% } %>
    </div>

    </div>

<% if(user && isLoggedIn) { %>
    <form action="/problemset/<%= problem.name %>" method="POST" class="my-3 p-3 bg-light rounded d-none d-md-block">
    
        <h3 class="mt-2 mb-3">Submit your code for problem <%= problem.name %> </h3>
    
        <div class="my-2">
            <textarea rows="15" name="clientSource" class="form-control p-2 rounded my-2" id="t">
#include <fstream>
 
using namespace std;

ifstream cin("<%=problem.name%>.in");
ofstream cout("<%=problem.name%>.out");

int main()
{
    return 0;
}
            </textarea>
        </div>

        <script>
            const editor = CodeMirror.fromTextArea(document.querySelector("#t"), {
                    lineNumbers: true,
                    mode: "clike",
                    theme: "ttcn"
                });
        </script>

        <button class="btn btn-dark mb-2 mt-3" data-tilt data-tilt-max="10" data-tilt-scale="1.2">
            Submit!
        </button>

    </form>

    <p class="d-block d-md-none">You cannot submit a problem on a phone or tablet.</p>
<% } %>

</div>

<%- include('../partials/footer'); -%>