<%- include('../partials/header'); -%>

<div class="container">

    <h1 class="display-1 text-center my-3">Queue</h1>
    
    <table class="table my-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Submission time</th>
                <th scope="col">User</th>
                <th scope="col">Problem</th>
                <th scope="col">Verdict</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < submissions.length; i++) { %>
                <tr>
                    <th scope="row"> <%= i + 1%> </th>
                    
                    <td> 
                        <%= submissions[i].created.toDateString() %> 
                        <br>
                        <%= submissions[i].created.toTimeString().substring(0, 8) %>
                    </td>
                    
                    <td> <%= submissions[i].author %> </td>

                    <td> <a href="/problemset/<%= submissions[i].toProblem %>"> <%= submissions[i].toProblem %> </a> </td>

                    <% if(!submissions[i].judged) { %>
                        <td> Waiting for judge... </td>
                    <% } else { %>
                        <% if(submissions[i].verdict === "Accepted") { %>
                            <td style="color:green"> submissions[i].verdict </td>
                        <% } else if(submissions[i].verdict === "Compilation Error") { %>
                            <td style="color:yellow"> submissions[i].verdict </td>
                        <% } else { %>
                            <td style="color:red"> submissions[i].verdict </td>
                        <% } %>
                    <% } %>
                    
                    <% if(user && (user.username === submissions[i].author || user.isAdmin)) { %>
                        <td> 
                            <a href="/problemset/submissions/<%= submissions[i]._id %>">View submission</a>
                        </td>
                    <% } else { %>
                        <td> - </td>
                    <% } %>

                </tr>
            <% } %>
        </tbody>
    </table>

</div>

<%- include('../partials/footer'); -%>