<%- include('../partials/header'); -%>

<div class="container">

    <ul class="list-group my-3 rounded">
        <li class="list-group-item active">Submission details</li>
        <li class="list-group-item">Submitted at: <%= submission.created.toDateString() %> </li>
        <li class="list-group-item">Submitted by: <%= submission.author%> </li>
        <li class="list-group-item">Submitted to problem: <a href="/problemset/<%= submission.toProblem %>"><%= submission.toProblem %></a> </li>
        
        <% if(!submission.toContest || submission.toContest === "") { %>
            <li class="list-group-item">Submitted in Archive </li>
        <% } else { %>
            <li class="list-group-item">Submitted in <%= submission.toContest %> contest </li>
        <% } %>
        
        <% if(submission.judged) { %>
            <% if(submission.verdict === "Accepted") { %>
                <li class="list-group-item" style="color:green"> <span style="color: black;">Verdict:</span> <%= submission.verdict %> </li>
            <% } else if(submission.verdict === "Compilation Error") { %>
                <li class="list-group-item" style="color:orange"> <span style="color: black;">Verdict:</span> <%= submission.verdict %> </li>
            <% } else { %>
                <li class="list-group-item" style="color:red"> <span style="color: black;">Verdict:</span> <%= submission.verdict %> </li>
            <% } %>
            <li class="list-group-item">Score: <%= submission.score %> points</li>
        <% } else { %>
            <li class="list-group-item">Verdict: waiting...</li>
        <% } %>
    </ul>

    <% if(submission.judged) { %>    
        <% if(submission.verdict !== "Compilation Error") { %>
            <ul class="list-group list-group-flush my-3 border rounded">
            <li class="list-group-item">Individual test results</li>
            <% for(let i = 0; i < submission.results.length; i++) { %>
                <% if(submission.results[i] === "Correct") { %>
                    <li class="list-group-item">Test #<%= i + 1%>:
                        <span style="color: green;"><%= submission.results[i] %></span> </li>
                <% } else { %>
                    <li class="list-group-item">Test #<%= i + 1%>:
                        <span style="color: red;"><%= submission.results[i] %></span> </li>
                <% } %>
            <% } %>
            </ul>
        <% } %>
    <% } else { %>
    <ul class="list-group list-group-flush my-3 rounded">
        <li class="list-group-item"> Waiting for judge to finish... </li>
    </ul>
    <% } %>

    <form class="my-2 p-2 rounded">
        <div class="form-group">
            <label>Submitted solution</label>
            <textarea class="form-control" rows="15"> <%= submission.cpp %> </textarea>
        </div>
    </form>

</div>

<%- include('../partials/footer'); -%>