<%- include('../partials/header'); -%>

<div class="container">

    <ul class="list-group my-3">
        <li class="list-group-item active">Submission details</li>
        <li class="list-group-item">Submitted at: <%= submission.created%> </li>
        <li class="list-group-item">Submitted by: <%= submission.author%> </li>
        <li class="list-group-item">Submitted to problem: <a href="/problemset/<%= submission.toProblem %>"><%= submission.toProblem %></a> </li>
        <li class="list-group-item">Verdict: waiting...</li>
    </ul>

    <form class="my-2 p-2 rounded">
        <div class="form-group">
            <label>Submitted solution</label>
            <textarea class="form-control" rows="15"> <%= submission.cpp %> </textarea>
        </div>
    </form>

    <% if(submission.judged) { %>
        <ul class="list-group list-group-flush my-3">
            for(let i = 0; i < submission.results.lenght; i++) {
                <li class="list-group-item">Test #<%= i + 1%>: <%= results[i] %> </li>
            }
        </ul>
    <% } else { %>
        <ul class="list-group list-group-flush my-3">
            <li class="list-group-item"> Waiting for judge to finish... </li>
        </ul>
    <% } %> 

</div>

<%- include('../partials/footer'); -%>